<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>Library</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBook</display-name>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>library.AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/AddBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBook</display-name>
    <servlet-name>DeleteBook</servlet-name>
    <servlet-class>library.DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBook</servlet-name>
    <url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBook</display-name>
    <servlet-name>ShowBook</servlet-name>
    <servlet-class>library.ShowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBook</servlet-name>
    <url-pattern>/ShowBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>library.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBook</display-name>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>library.UpdateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
</web-app>