@charset "ISO-8859-1";

body{
	background-image:url('.jpg');
	background-size:cover;	
}

h1{
	font-family:Verdana;
	font-weight:bold;
	font-size:50px;
	color:#ff00ff;
}

.button1,.button2{
	padding:8px;
	background:green;
	color:white;
	width:100px;
	height:50px;
	font-weight:bold;
	font-size:15px;
}